body {
    background: #fff; 
    font-family:Lato, sans-serif; 
    border-top: 10px solid #81b336; 
};

.slogan-box {
	float: none;
	margin: 30px auto;
}
.slogan-box h1 {
	padding: 10px 10px 5px 10px;
	font-size: 32px;
	font-weight: weight;
	color: #2ecc71;
}
.content {
	float: none;
	margin: 0 auto;
	margin-bottom:0px;
}
.box {
	margin-top: 20px;
	margin-bottom: 20px;
}

.infotitle {
	margin-top: -15px;
	border-bottom: 8px solid #97cd41;;
}
.infobox {
	text-align: center;
}
.infobox p {
	font-size: 24px;
}
.infobox li {
	font-size: 24px;
	line-height: 30px;
}
.left-text {
	text-align: left;
}
.spaced {
	margin-bottom: 75px;
	background: #c8cacb;
	padding: 20px 0;
}
.spaced-mini {
	margin-bottom: 30px;
	background: #c8cacb;
	padding: 20px 0;
}
.top-space-info {
	margin-top: 50px;
}
.underlined {
	text-decoration: underline;
}
.long-text {
	line-height: 32px;
}
.white {
	background: #fff;
}
.bold-green {
	font-size: 32px;
	line-height: 36px;
	font-weight: bold;
	color: #81b336;
}
.top-menu {
	margin: 10px 0 0 10px;
}

.top-menu a {
	font-size: 22px;
	line-height: 24px;
	margin: 5px 20px;
	color: #81b336;
}

.top-menu a:link, .top-menu a:visited {
	color: #81b336;
}

.top-menu a:hover {
	color: #67b315;
	text-decoration: underline;
}

.social-media {
	text-align: right;
}

.top-space {
	margin-top: 10px;
}
.left-space {
	margin-left: 20px;
}
.left-space-big {
	margin-left: 40px;
}
.left-space-mini {
	margin-left: 10px;
}
.signup-link {
	font-size: 12px;
	margin-right: 6px;
}

.top-statement h1 {
	text-align: right;
	font-size: 30px;
	line-height: 20px;
	padding-bottom: 15px;
	font-weight: normal;
	margin-top: -15px;
}


.join {
	width: 90%;
	padding-top: 5%;
	padding-bottom: 5%;
}
footer {
	padding: 10px 0;
	background: #95a5a6;
}
.top-space {
	margin-top: 10px;
}

.top-statement {
	text-align: right;
	font-size: 30px;
	line-height: 34px;
	padding-bottom: 15px;
}

.green {
	color: #81b336;
}

.slider-label {
	background: #55830c;
	border-bottom: 5px solid #335a09;
	color: #fff;
	padding: 8px;
}

.first {
	margin-left: 3px;
}

.slider {
	border-left: 3px solid white;
}

.bold {
	font-weight: bold;
}

/* zAccordion styling */
#areas {list-style:none;visibility:hidden;}
#areas img {display:block;max-width:100%;}
#areas li {width:100%;}
@media only screen and (min-width: 960px) {
	#wrapper {width:860px;}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#wrapper {width:680px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#wrapper {width:380px;}
}
@media only screen and (max-width: 479px) {
	#wrapper {width:200px;}
	#areas {height:auto;list-style:none;}
	#areas {visibility:visible;}
}

