{% extends "main.html" %}
{% block content %}
    <div class="container content">
		<div class="row">
		    <div class="span4">    
		    </div>
			<div class="span4">
        {% if user_form %}
            <form enctype="multipart/form-data" method="POST" action="/accounts/register/">
                {% csrf_token %}
                <table>
                {{ user_form.as_table }}
                {% if data_form %}
                    {{ data_form.as_table }}
                {% endif %}
                {% if existing_mail %}
                    <p>This email is already registered. </p>
                {% endif %}
                </table>
                <input type="submit" value="Submit" />
            </form>
        {% endif %}
            </div>
            <div class="span4">    
		    </div>
        </div>
    </div>
{% endblock %}
