a {
    color: #81b336;
}

.desc_icon {
    max-height:50px;
    max-width:50px;
    margin:0px 10px 0px 0px;
    opacity:0.5;
}

#test_img {
    max-height:100px;
    max-width:100px;
}

#testimonial {
}

#key_icon {
    max-height:50px;
    max-width:100px;
    margin-right:20px;
    padding-right:20px;
    margin-top:25px;
    vertical-align:middle;
}

.company_icon {
    max-height:80px;
    max-width:150px;
    padding:10px;
    vertical-align:middle;
}

#people {
    max-height:150px;
    max-width:150px;
    vertical-align:middle;
}

#menu_table{
    float:left;
}

.nav-pills li a{
    font-size:23px;
    color: #81b336;
}


#join_line {
    margin-bottom:-44px;
    border-style:solid;
    border-width:1px;   
    border-color:#81b336;
}

#opp_line {
    border-style:solid;
    border-width:1px;   
    border-color:#aaaaaa;
    float:center;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

.partner_logo {
    max-height:80px;
    max-width:150px;
    padding:10px;
    vertical-align:middle;
    float:center;
}

.centered {
    text-align:center;
}

emph {
    font-style:italic;
}

.tab-content {
    max-width:80%;
    margin-left:auto;
    margin-right:auto;
}

.flag_img {
    max-width:20px;
    max-height:20px;
}

.opps_img {
    max-height:300px;
}

.message {
    font-size:1.3em;
}

.twitter-timeline {
    max-width:300px;
    width:300px;
}

.events_row {
    border:2px solid #81b336;
}

.video_div {
    width:100%;
    height:76px;
}

.little_video {
    max-height:50px;
    max-width:100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align:bottom;
}

.big_video {
    max-height:75px;
    max-width:150px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.webinar_title {
    font-style:bold;
    font-size:1.1em;
    text-align:center;
}

.webinar_description {
    font-style:italic;
    font-size:0.9em;
    text-align:center;
}

.blogbox {
    padding-right:30px;
    margin-bottom:10px;
}
