{% extends "main.html" %}
{% block mainmenu %}
    <ul class="nav nav-pills">
        <li class="disabled"><a href="">ABOUT</a></li>
        <li><a href="/opportunities">OPPORTUNITIES</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/partners">PARTNERS</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul>
{% endblock %}
{% block content %}
		<div class="container content">
			<div class="row">
				<div class="span12 infotitle">
					<h1>About <span class="green">lime</span></h1>
				</div>
			</div>
		</div>
		<div class="container content top-space">
			<div class="row">
				<div class="span5 infobox top-space">
					<br />
					<img src="/static/img/1in10.jpg" alt="1 in 10" /><br /><br />
					<p>
						<span class="bold-green"> 1 in 10</span>
					</p>
				</div>
				<div class="span1">
					<br /><br /><br /><br /><h1>and</h1>
				</div>
				<div class="span6 infobox top-space">
					<img src="/static/img/over50.jpg" alt="Over 50 million of Americans and more than 6.2 million of Canadians" />
				</div>
			</div>
			<div class="row ">
				<div class="span6 infobox">
					<p>
						students on university campuses has a disability
					</p>
				</div>
				<div class="span6 infobox">
					<p>have disabilities</p>
				</div>
			</div>
			<div class="row top-space-info">
				<div class="span12 infobox spaced-mini" >
					<p>
						<span class="bold-green">Students</span> with disabilities are intimidated by the standard corporate recruiting process.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="span12 infobox spaced">
					<p>
						Even <span class="bold-green">experienced employees</span> with disabilities are intimidated by the corporate ladder.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="span12 infobox spaced">
					<img class="pull-left left-space" src="/static/img/limeconnect.png" alt="Lime" />
					<p><br />
						Lime Connect here to help you with your recruitment needs, but we're also here to break stereotypes.
					</p><br />
					<p>How <span class="bold-green">we</span> define disability:</p>
					<br />
					<p class="long-text">Someone who has, or considers themselves to have, a long-term or recurring issue that impacts one or
					more activities that others may consider to be a daily function. This definition also includes the perception
					among others that <span class="bod-green">a disability exists</span>. We know that 90% of disabilities on
					campus and 70% of disabilities among the general population are <span class="green-bold">invisible</span>,
					including ADD, Dyslexia, medical conditions and more.</p>
				</div>
			</div>
			<div class="row spaced white">
				<div class="span12 infobox spaced-mini white">
					<p>How <span class="bold-green">we</span> can help:</p>
				</div>
				<div class="span5 pull-left infobox spaced-mini">
					<h2 class="bold-green"><a href="#">Students</a></h2>
					<ul class="left-text left-space-big">
						
						<li>Connecting to internships</li>
						<li>Fellowships</li>
						<li>Scholarships</li>
						<li>Professional support and coaching</li>
					</ul>
				</div>
				<div class="span5 pull-right infobox spaced-mini">
					<h2 class="bold-green"><a href="#">Professionals</a></h2>
					<ul class="left-text left-space-big">
						
						<li>Recruiting events</li>
						<li>Professional development</li>
						<li>Career management</li>
						<li>Networking with top professionals</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="span12 left-text infobox spaced white">
					<img class="pull-right right-space" src="/static/img/partners.jpg" alt="Google, Goldman Sachs, Bloomberg" />
					<h2 class="left-space">Partners</h2>
					<p class="left-space long-text">
						<span class="green-bold">Connect leading companies</span> with <span class="green-bold">top professionals</span> who are backed by a <span class="green-bold">professional support system</span>.
					</p>
					
				</div>
			</div>
		</div>
{% endblock %}
