{% extends "main.html" %}
{% block mainmenu %}
    <ul class="nav nav-pills">
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/opportunities">OPPORTUNITIES</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li class="disabled"><a href="">PARTNERS</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul>
{% endblock %}
{% block content %}

<div class="container content">
    <h3>Partners in USA</h3>
    <div class="row">
        <div class="span2 box">
            <a href="http://www.pepsico.com/"  target="_blank">
                <img class="partner_logo" src="/static/img/pepsico.jpg" alt="PepsiCo">
            </a>
        </div>
        <div class="span2 box">
            <a href="http://www.google.com/intl/en/about.html" target="_blank">
                <img class="partner_logo" src="/static/img/google.png" alt="Google">
            </a>
        </div>
        <div class="span2 box">
            <a href="http://gs.com/" target="_blank" >
                <img class="partner_logo" src="/static/img/goldman.png" alt="Goldman Sachs">
            </a>
        </div>
        <div class="span2 box">
            <a href="http://www.target.com/" target="_blank">
                <img class="partner_logo" src="/static/img/target.png" alt="Target">
            </a>
        </div>
        <div class="span2 box">
            <a href="http://www.bloomberg.com/"  target="_blank">
                <img class="partner_logo" src="/static/img/bloomberg.png" alt="Bloomberg">
            </a>
        </div>
    </div>
</div>

<div class="container content">
    <h3>Partners in Canada</h3>
    <div class="row">
        <div class="span3    box">
            <a href="http://bmo.com/" target="_blank">
                <img class="partner_logo" src="/static/img/bmo.png" alt="BMO">
            </a>
        </div>
        <div class="span3 box">
            <a href="http://ibm.com/ca" target="_blank">
                <img class="partner_logo" src="/static/img/ibm.png" alt="IBM Canada">
            </a>
        </div>
        <div class="span3 box">
            <a href="http://www.rbc.com/canada.html" target="_blank">
                <img class="partner_logo" src="/static/img/rbc.png" alt="RBC">
            </a>
        </div>
        <div class="span3 box">
            <a href="http://td.com/" target="_blank">
                <img class="partner_logo" src="/static/img/td.jpg" alt="TD Bank Group">
            </a>
        </div>
    </div>
</div>

<div class="container content">
    <h3>Pro Bono and Strategic Partners</h3>
    <div class="row">
        <div class="span2 box">
            <a href="http://www.weil.com/" target="_blank">
                <img class="partner_logo" src="/static/img/weil.jpg" alt="Weil, Gotshal & Manges LLP">
            </a>
        </div>
        <div class="span2 box">
            <a href="http://www.fasken.com/en/home/" target="_blank">
                <img class="partner_logo" src="/static/img/fasken.jpg" alt="Fasken Martineau DuMoulin LLP">
            </a>
        </div>
        <div class="span2 box">
            <a href="http://mbaveterans.com/welcome" target="_blank">
                <img class="partner_logo" src="/static/img/mba_veterans.jpg" alt="MBA Veterans">
            </a>
        </div>
        <div class="span2 box">
            <a href="http://www.newyorkjets.com/index.html" target="_blank">
                <img class="partner_logo" src="/static/img/ny_jets.png" alt="New York Jets">
            </a>
        </div>
        <div class="span2 box">
            <a href="http://schools.nyc.gov/default.htm" target="_blank">
                <img class="partner_logo" src="/static/img/nyc_education.jpg" alt="New York City Department of Education">
            </a>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="span6 box centered">
            <h3>What Corporations say about us</h3>
            <span><emph>"When I think of Lime, I think inclusive, inspirational, dynamic and cutting-edge. You connect us to a huge population of students and professionals whom we would not otherwise have been able to meet."</emph></span>
        </div>
        <div class="span6 box centered">
            <h3>What Universities say about us</h3>
            <span><emph>"We are including this partnership in our annual report as an effective way to reach out to students.  We are pleased that our university is a partner. The behind-the-scenes organization is impressive."</emph></span>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="span1 box">
        </div>
        <div class="span4 box">
            <button class="btn btn-large btn-block  btn-success" type="button">Login as corporate partner</button>	
        </div>
        <div class="span2 box">
        </div>
        <div class="span4 box">
            <button class="btn btn-large btn-block  btn-success" type="button">Login as university friend</button>	
        </div>
        <div class="span1 box">
        </div>
    </div>
</div>
{% endblock %}
